
/* THe component title starts here */
.title-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* this is for the H1 header */
.headerDetail{
    margin: 0;
}


/* The languague-picker- options starts here */

.contentDetails{
    position: relative;
    min-width: 200px;
    height: 32px;
}

.langauge-options{
    position: absolute;
    top: 0;
}


.header_info {
    background: #fea52b;
    color: white;

    padding: 0.6em;
    font-size: 1.2em;
    font-weight: normal;
    display: flex;
}


/* Language picker */
.languagepicker {
    bottom: 5px;
    /* top: calc(50% - 20px);
    right: -30px; */
    font-size: 14px;

    background-color: #FFF;
    padding: 0;
    height: 32px;
    overflow: hidden;
    transition: all .3s ease;
    vertical-align: top;
    float: right;
}

.languagepicker:hover {

    height: 65px;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 32px;
    border-top: 1px solid #EEE;
}

.languagepicker li:hover{
    background-color: #EEE;
}

.languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
}

.languagepicker li img {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.roundborders {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.58);
}

.large:hover {
    /*
    don't forget the 1px border!
    The first language is 40px heigh,
    the others are 41px
    */
    height: 245px;
}

